/*****************************************************************************
	マニュアルページ用スタイルシート

 *****************************************************************************/

body
{
	font-family			: Arial;
	font-size			: 10pt;
	color				: #111;
	background-color	: #fff;
	margin				: 8px;
	padding				: 0px;
}

/*============================================================
	本文
 *============================================================*/

em
{
	font-weight			: bold;
	font-style			: normal;
}

strong
{
	font-weight			: bold;
	font-style			: normal;
	color				: #ff0000;
}

p
{
	text-indent			: 0em;
	margin				: 0.5em 1em 0.5em 1.5em;
	padding				: 0em;
}

li
{
	margin				: 0.25em 0em 0.25em 1.5em;
	padding				: 0em;
}

li p
{
	text-indent			: 0em;
	margin				: 0.5em 1em 0.5em 0em;
}

p.note
{
	font-size			: small;
	text-decoration		: underline;
	text-indent			: 0em;
	margin				: 0em 1em 0em 1.5em;
	padding				: 0em;
}

p.hint
{
	text-decoration		: underline;
	text-indent			: 0em;
	margin				: 0em 1em 0em 1.5em;
	padding				: 0em;
}

p.warn
{
	color				: #ff0000;
	text-decoration		: underline;
	text-indent			: 0em;
	margin				: 0em 1em 0em 1.5em;
	padding				: 0em;
}

/*============================================================
	見出し
 *============================================================*/

h1
{
	font-family			: Arial;
	font-weight			: bold;
	font-size			: 36px;
	margin				: 0px 0px 20px  0px;
	padding				: 0px 0px  0px 10px;
	border-style		: none none solid none;
	border-width		: 5px;
	border-color		: #48f;
}

h2
{
	font-family			: Arial;
	font-weight			: bold;
	font-size			: 20px;
	margin				: 30px 0px 10px  0px;
	padding				:  0px 0px  0px 10px;
	border-style		: none none solid double;
	border-width		: 0px 0px 2px 8px;
	border-color		: #49f;
}

h3
{
	font-family			: Arial;
	font-weight			: bold;
	font-size			: 16px;
	margin				: 20px 0px 10px 20px;
	padding				: 0px;
	border-style		: none none solid none;
	border-width		: 0px 0px 1px 0px;
	border-color		: #49f;
}

h4
{
	font-family			: Arial;
	font-weight			: bold;
	font-size			: 12px;
	margin				: 20px 0px 10px 20px;
	padding				: 0px;
}

h5
{
	font-family			: Arial;
	font-size			: 12px;
	margin				: 20px 0px 10px 20px;
	padding				: 0px 4px;
	border-style		: solid solid solid solid;
	border-width		: 1px;
}

/*
h1
{
	font-size			: x-large;

	margin				: 0em 0.5em 0.2em 0em;
	padding				: 0em 0em 0em 0.3em;

	border-color		: #008;
	border-left-width	: 0.25em;
	border-left-style	: double;
	border-bottom-width	: 3px;
	border-bottom-style	: solid;
}

h2
{
	font-size			: large;

	margin				: 1.5em 0.5em 0.2em 0.15em;
	padding				: 0em 0em 0.1em 0.3em;

	border-color		: #008;
	border-left-width	: 0.15em;
	border-left-style	: solid;
	border-bottom-width	: 2px;
	border-bottom-style	: solid;
}

h3
{
	margin				: 1em 0.5em 0.2em 0.8em;
	padding				: 0em 0em 0.1em 0.2em;

	font-size			: medium;

	border-color		: #008;
	border-bottom-width	: 1px;
	border-bottom-style	: solid;
}

h4
{
	margin				: 0.5em 0.5em 0.2em 0.8em;
	padding				: 0em 0em 0em 0.2em;

	font-size			: medium;
	text-decoration		: underline;
}

h5
{
	margin				: 0.5em 0.5em 0.2em 0.8em;
	padding				: 0em 0em 0em 0.2em;

	font-size			: medium;
}
*/

/*============================================================
	リンク
 *============================================================*/

a
{
	font-weight			: bold;
	text-decoration		: none;
}

a:link
{
	color				: #00f;
}

a:visited
{
	color				: #808;
}

a:hover
{
	color				: #f00;
}

/* ================ 画像 ================ */
p.img{
	text-indent			: 0em;
	margin-left			: 1.5em;
	margin-top			: 2em;
	margin-bottom		: 1em;
}

/* ================ サブページ ================ */
ul.sub_page
{
	list-style-type: none;
	margin: 1em 0em 1em 1.5em;
	padding: 0em;
}

ul.sub_page li
{
	margin: 0em;
	padding: 0em;
}

ul.subsub_page
{
	list-style-type: none;
	margin: 0em 0em 0em 1.5em;
	padding: 0em;
}

ul.subsub_page li
{
	margin: 0em;
	padding: 0em;
}

/* ================ UIリスト ================ */
ol.ui
{
	list-style-type: upper-alpha;
	margin: 0em 1em 0em 1.5em;
	padding: 0em;
}

ol.ui li
{
	margin: 0em 0em 0.75em 1.5em;
	padding: 0em;
}

/* ================ 通常リスト ================ */
ul.list
{
	list-style-type: disc;
	margin: 0em 1em 0em 1.5em;
	padding: 0em;
}

ul.list li
{
	margin: 0.25em 0em 0.25em 0em;
	padding: 0em;
}

/* ================ 列挙定義リスト ================ */
dl.enum
{
	margin: 0.5em 1em 0.5em 1.5em;
	padding: 0em;
}

dl.enum dt
{
	font-weight: bold;
	margin: 0.5em 0em 0em 0em;
	padding: 0em;
}

dl.enum dd
{
	margin: 0em 0em 0em 1em;
	padding: 0em;
}

/* ================ 通常テーブル ================ */
table
{
	border-collapse: collapse;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	width: 90%;
	margin: 0.5em 1em 0.5em 1.5em;
	padding: 0em;
}

table caption
{
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	margin: 0.2em 0.2em 0em 0.2em;
	padding: 0.2em 0.2em 0em 0.2em;
}

table tr
{
	margin: 0em;
	padding: 0em;
}

table td
{
	border-width: 1px;
	border-style: solid;
	border-color: #000;
	margin: 0em;
	padding: 0.2em 0.2em 0.2em 0.5em;
}

table thead td
{
	white-space: nowrap;
	background-color: #eee;
}

/* ================ ツールバーテーブル ================ */
table.toolbar
{
	border-collapse: collapse;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	width: 100%;
	margin: 0.em 0em 0.75em 0em;
	padding: 0em;
}

table.toolbar caption
{
	font-size: large;
	font-weight: bold;
	text-align: left;
	margin: 0.2em 0.2em 0em 0.2em;
	padding: 0.5em 0.2em 0.5em 0.2em;
}

table.shortcut tr
{
	margin: 0em;
	padding: 0em;
}

table.toolbar td
{
	border-width: 1px;
	border-top-style: solid;
	border-top-color: #fff;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-left-style: solid;
	border-left-color: #000;
	border-right-style: solid;
	border-right-color: #000;
	background-color: #eee;
	margin: 0em;
	padding: 0.2em 0.2em 0.2em 0.5em;
}

table.toolbar thead td
{
	white-space: nowrap;
	background-color: #ddd;
}

table.toolbar td.icon
{
	text-align: center;
}

/* ================ ショートカットテーブル ================ */
table.shortcut
{
	border-collapse: collapse;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	width: 100%;
	margin: 0.75em 0em 0.75em 0em;
	padding: 0em;
}

table.shortcut caption
{
	font-size: large;
	font-weight: bold;
	text-align: left;
	margin: 0em;
	padding: 0.2em 0.2em 0em 0.2em;
}

table.shortcut tr
{
	margin: 0em;
	padding: 0em;
}

table.shortcut td
{
	border-width: 1px;
	border-top-style: solid;
	border-top-color: #fff;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-left-style: solid;
	border-left-color: #000;
	border-right-style: solid;
	border-right-color: #000;
	background-color: #eee;
	margin: 0em;
	padding: 0.2em 0.2em 0.2em 0.5em;
}

table.shortcut thead td
{
	white-space: nowrap;
	background-color: #ddd;
}
